/*모바일용 CSS*/
/*기본CSS*/
.container {
    /*display영역 ,promotion영역, blog영역, contact영역은 90%너비를 가지게끔 하도록 설정함*/
    width: 90%;
    max-width: 1132px;
    margin: 0 auto;
}

/*::before, ::after는 앞, 뒤의 콘텐츠 추가하는 것이고 이 요소를 사용하면 특정요소의 내용
앞이나 뒤에 지정한 내용을 넣을 수가 있다.다시 말하면 요소의 앞뒤로 텍스트나 이미지등을 
추가할 수가 있다.이와 같은 가상선택자에 필수로 들어가는 것이 바로 content속성이다.
block이나 inline-block형태에만 적용이 된다.*/
.cfixed::after, .container::after {
    display: block;
    content: "";
    clear: both;
}

.blind {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
}

/*수평선 css*/
.divider {
    width: 90%;
    max-width: 1132px;
    margin: 0 auto;
    margin-top: 77px;
    background-color: #eee;
}

.m-divider {
    width: 20px;    
    margin: 0 auto;
    margin-top: 77px;
    background-color: #3f51b5;
}

/*헤더영역 CSS*/
.header {
    position: relative;
    padding: 18px 5px;
}
.header .logo {
    float: left;
}

.header .logo a {
    font-size: 26px;
    color: #3f51bf;
    font-weight: normal;
}
/*ul css*/
.header .gnb{
    display:none;  /*모바일용이기 때문에 display: none으로 주었다.*/
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background:#3f51b5;
}
    
.header .gnb li{
    border-bottom:1px solid #303f9f;
}
    
.header .gnb li a{
    display:block;
    padding:14px 0 14px 5%;
    font-size:14px;
    color:#fff;
}

/*toggle이란 뜻은 원래 비녀장이란 뜻이다.그래서 모바일에서 메뉴를 다 나타낼수가 
없을 때 막대 모양의 장식 단추처럼 보이는 것을 만들때 사용한다.
프로그래밍적으로 보면 토글이란 하나의 설정 값으로 부터 다른 값으로 전환하는 것이다.
토글이라는 용어는 오직 두 가지 상태밖에는 없는 상황에서, 스위치를 한번 누르면 한 값이
되고, 다시 한번 누르면 원래 상태로 돌와오는 것을 의미한다.*/
.header .menu-toggle-btn {
    float: right;
    width: 20px;
    margin-top: 4px;    
/*  cursor속성을 이용을 하면 해당 태그 위에 위치하는 마우스 커서의 모양을 
    바꿀수가 있다.
    auto : 자동
    default : 기본값(화살표)
    pointer : 손가락모양(클릭 가능한 버튼)
    wait : 로딩(모래시계와 같은 것)*/
    cursor: pointer;
}
.header .menu-toggle-btn span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3f51b5;
}
/*span:nth-child(2)는 span태그의 2번째 요소에 마진을 5px을 상하로 주라는 것*/
.header .menu-toggle-btn span:nth-child(2) {
    margin: 5px 0;
}

/*슬라이더 영역 CSS*/
.slider img {
    display: block;
    width: 100%;
    /*경복궁 이미지를 가변 레이아웃에 맞게 표시하려고 감싸고 있는 상위요소만큼만
    커지거나 작아지도록 max-width속성 값을 100%로 지정함.*/
    max-width: 100%;
    height: auto;
}

/*디스플레이 영역 CSS*/
.display-section {
    margin-top: 60px;
    text-align: center;
}
/*WE ARE CSS*/
.display-section .sec-tit {
    margin-bottom: 30px;
}
/*WE ARE 글자들 CSS*/
.display-section .desc {
    font-family: 'PT Serif';
    color: #616161;
    line-height: 2em;
}

/*프로모션 영역 CSS*/
.promotion-section {
    margin-top: 68px;
}

.promotion-section .promo-list li {
    margin-top: 50px;
    text-align: center;
}
/*프로모션 목록 중 첫 번째 목록은 위쪽 마진값이 필요 없으므로 0으로 설정함*/
.promotion-section .promo-list li:first-child {
    margin-top: 0;
}
/*프로모션 영역의 이미지를 공통적으로 52px로 높이값을 설정함 */
.promotion-section .promo-list li img {
    height: 52px;
}

.promotion-section .promo-list li h3 {
    margin: 30px 0 20px 0;
    color: #3f51b5;
    font-weight: normal;
}

.promotion-section .promo-list li p {
    font-size: 14px;
    font-family: 'PT Serif';
    color: #616161;
    line-height: 1.5em;
}

/*work영역 부분 CSS*/
.work-section {
    margin-top: 75px;
}
/*work단어의 CSS설정*/
.work-section .sec-tit {
    width: 90%;
    max-width: 1132px;
    margin: 0 auto;
    margin-bottom: 45px;
    text-align: center;
}

.work-section .work-list li {
    width: 100%
}

/*배경과 글자들이 위치할 기준을 설정하기 위해서 relative로 설정함*/
.work-section .work-list li a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
/*:before는 특정요소 전에 컨텐츠를 삽입한다.*/
.work-section .work-list li a:before {
    /*절대적인 위치에 블럭레벨요소로 왼쪽 상단부터 나타내고 요소가 겹치는 순서를
    결정하기 위해서 z-index를 10으로 설정하였음*/
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    /*배경색과 컨텐츠를 지정하는데, 아래 opacity가 0.0이라서 투명해짐.*/    
    background-color: #3f51b5;
    content: "";
    /*opacity속성은 요소의 투명도를 정할 수 있는 것이다.
    값의 범위는 0.0 ~ 1.0사이의 값을 줄수가 있다.아울러 0.0에 가까울수록
    투명해진다.*/
    opacity: 0.0;
    /*해당하는 모든 요소에 트랜지션을 적용하겠다.*/
    transition-property: all;
    /*해당하는 모든 요소에 트랜지션을 0.5초에 걸려서 적용하겠다.*/
    transition-duration: 0.5s;    
}
/*:hover:before는 상위요소에 hover이벤트가 발생시 before 즉 여기서는 li가 되겠다.
li에 특정 스타일을 적용하라.*/
.work-section .work-list li a:hover:before {
    opacity: 0.8;
}

.work-section .work-list li .info {
    /*절대적인 위치 즉 상단 왼쪽 23px떨어진 곳에 위치를 시키며 겹치는 부분을 대비하여 z-index값을 20으로 설정을 하고 투명도를 0.0으로 설정하고 해당요소 모두에게
    0.3초 동안 트랜지션 적용하라*/
    position: absolute;
    top: 0;
    left: 23px;
    z-index: 20;
    opacity: 0.0;
    transition-property: all;
    transition-duration: 0.3s;
}

/*마우스가 올라가면 글자가 y축으로 transform(변형)되면서 투명도를 1로 하여 글자를
보이게 하고 있다.*/
.work-section .work-list li a:hover .info {
    transform: translateY(23px);
    opacity: 1.0;    
}

/*h3태그의 내용을 아래와 같이 적용해라(폰트 23, 흰색)*/
.work-section .work-list li .info h3 {
    margin-bottom: 8px;
    font-size: 23px;
    color: #fff;
    font-weight: normal;
}
/*span태그 내용을 아래와 같이 적용해라(폰트 12, 흰색)*/
.work-section .work-list li .info span {
    font-size: 12px;
    color: #fff;
}

.work-section .work-list li img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/*blog-section부분 CSS*/
.blog-section {
    margin-top: 75px;
    
}

.blog-section .sec-tit {
    margin-bottom: 45px;
    text-align: center;
}

.blog-section .blog-list li {
    width: 100%;
    margin-top: 45px;
}

.blog-section .blog-list li:first-child {
    margin-top: 0;
}

.blog-section .blog-list li img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    
}

.blog-section .blog-list li time {
    display: block;
    margin: 10px 0;
    font-size: 12px;
    color: #9e9e9e;
}

.blog-section .blog-list li h3 {
    color: #424242;
    font-weight: normal;
    line-height: 1.5em;
}

/*contact부분 css*/
.contact-section {
    margin-top: 100px;
}

.contact-section .sec-tit {
    margin-bottom: 45px;
    text-align: center;
}

.contact-section .form-box .form input {
    padding-bottom: 15px;
    margin-bottom: 40px;
}

.contact-section .form-box .form textarea {
    height: 170px;
}

.contact-section .form-box .send-btn {
    margin-top: 35px;
    text-align: right;
}

.contact-section .form-box .send-btn button {
    padding: 15px;
    margin: 0;
    border: 0;
    font-size: 12px;
    color: #fff;
    background-color: #3f51b5;
    font-family: 'Montserrat';
    cursor: pointer;
}

/*footer영역 css*/
.footer {
    margin-top: 105px;
}

.footer iframe {
    width: 100%;
    height: 320px;
}

.footer p {
    margin: 20px 0;
    color: #3f51b5;
    text-align: center;
}

/*태블릿용 CSS*/
@media all and (min-width:768px) {
    
    /*기본CSS*/
    .divider {
        margin-top: 125px;
    }
    
    .m-divider {
        margin-top: 125px;
    }
    
    /*헤더 영역 CSS*/
    .header {
        /*position: static값은 요소를 문서의 흐름에 맞추어 배치하는 값이다.*/
        position: static;
        padding: 28px 52px;
    }
    
    .header .gnb {
        /*!important는 중요한 스타일이다라고 알리는 것이다.
        제작자 스타일 시트는 사이트를 제작하면서 만든 스타일 시트를 말한다.
        스타일시트에서는 작성하는 스타일 규칙은 "일반스타일"이라고 하고 다른
        어느 스타일보다 최우선으로 적용해야 할 스타일은 !important를 붙여서
        나타내는덷 이것은 곧 "중요스타일"라고 한다.이 스타일은 제작자가 만든 
        일반 스타일보다 우선한다.*/
        display: block !important;
        position: static;
        float: right;
        margin-top: 5px;
        background: none;
    }
    
    .header .gnb li {
        float: right;
        margin-left: 20px;
        border-bottom: 0;
    }
    
    .header .gnb li a {
        padding: 0;
        font-size: 16px;
        color: #3f51b5;
    }
    
    .header .menu-toggle-btn {
        display: none !important;
    }
    
    /*display-section 영역 CSS*/
    .display-section {
        margin-top: 95px;
    }
    
    /*promotion-section 영역 CSS*/
    .promotion-section {
        margin-top: 110px;
    }
    
    .promotion-section .promo-list li {
        float: left;
        /*(175 / 768) * 100 = 23.4375%*/
        width: 22.7864%;
        /*(20 / 768) * 100 = 2.60416667%*/
        margin-left: 2.60416667%;
        margin-top: 0;            
    }
    .promotion-section .promo-list li:first-child {
        margin-left: 0;
    }
    
    /*work-section영역 css*/
    .work-section {
        margin-top: 120px;
    }
    
    .work-section .sec-tit {
        margin-bottom: 75px;
    }
    .work-section .work-list li {
        float: left;
        width: 50%;
    }
    .work-section .work-list li .info {
        left: 37px;
    }
    
    .work-section .work-list li a:hover .info {
        transform: translateY(37px);
    }
    
    /*blog영역 CSS*/
    
    .blog-section {
        margin-top: 125px;
    }
    
    .blog-section .sec-tit {
        margin-bottom: 75px;
    }
    
    .blog-section .blog-list li {
        float: left;
        /*(242 / 768) * 100 = 31.59722222222%*/
        width: 31.59722222222%;
        margin-left: 2.064166667;  
        margin-top: 0;
    }
    
    .blog-section .blog-list li:first-child {
        margin-left: 0;
    }
    
    /*contact영역 css*/
    .contact-section {
        margin-top: 175px;
    }
    .contact-section .sec-tit {
        margin-bottom: 75px;
    }
    
    .contact-section .form-box .form, .contact-section .form-box .textarea {
        float: left;
        width: 48.6979%;
    }
    
    .contact-section .form-box .form {
        margin-right: 2.60416667%;
    }
    
    .contact-section .form-box .form input:first-child{
        margin-bottom: 0;
    }
    
    /*푸터 영역*/
    .footer iframe {
        height: 430px;
    }
    .footer p {
        margin: 35px 0;
    }
}
    
 /*pc용 CSS*/
@media all and (min-width : 1132px) {
    
/*    .diplay-section {
        text-align: center;
    }
    
    .diplay-section .sec-tit {
        float: left;
        margin-bottom: 0;
    }*/
/*    .diplay-section .desc {
        position: relative;
        float: right;
        padding-left: 20px;
        font-family: 'PT Serif';
        color: #616161;
        line-height: 2.0em;
    }
    
    .diplay-section .desc:before {
        display: block;
        position: absolute;
        top:9px;
        left: 0;
        width: 2px;
        height: 44px;
        background-color: #e0e0e0;
        content: "";
    }*/   
    
    .promotion-section .promo-list li {
        width: 23.67491166%;
        margin-left: 1.76678%;
    }
    
    .work-section .sec-tit {
        text-align: left;
    }
    
    .work-section .work-list li {
        width: 25%;
    }
    
    .blog-section .sec-tit {
        float: left;
        margin-bottom: 0;
    }
    .blog-section .blog-list {
        float: right;
        /*(844 % 1132) * 100 = 74.5583%*/
        width: 74.5583%;
        
    }
    .blog-section .blog-list li {
         /*(268 % 844) * 100 = 31.7535%%*/
        width: 31.7535%;
        /*(20 % 844) * 100 = 2.3696%*/
        margin-left: 2.3696%;
    }
    
    
    .contact-section .sec-tit {
        float: left;
        margin-bottom: 0;
    }
    
    .contact-section .form-box {
        float: right;
        width: 74.5583%;
    }   
    
    .contact-section .form-box .form, .contact-section .form-box .textarea{
        /*(412 % 844) * 100 = 48.8151%*/
        width: 48.8151%;    
    }
    
    .contact-section .form-box .form {
        margin-right: 2.3696%;
    }
    
}
    
    
    
    
    
    
    
    








